@import "../default.css";

@font-face {
	font-family: Spinnaker;
	font-style:  normal;
    font-weight: 400;
	src: url("../../fonts/Spinnaker-Regular.ttf");
}

body {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
}

.container {
	width: 1030px;
}

#top-nav {
	height: 31px; 
	background-color: #494949;
	min-height: 31px;
	background-image: none;
	border-color: #494949;
	font-size: 10px;

	p {
		margin: 8px 5px 9px 0;
		color: #FFFFFF;

		a {
			text-decoration: none;
			color: #ADADAD;
		}
	}

	span {
		font-size: 12px;
	}

	div {
		>div:last-child {
			float: right;

			a {			
				padding-bottom: 6px;
				padding-top: 5px;
			}

			>ul:first-child {
				margin-right: 5px;

				li {
					a {
						color: white;
						padding-right: 5px;
					}
					+li {
						background: url("images/dots.png") no-repeat scroll 5px 13px rgba(0, 0, 0, 0);
					}
				}
			}

			>ul:last-child > li > a {
				padding-left: 10px;
				padding-right: 10px;
			}
		}
	}	
}

#header {
	height: 500px;
	margin-top: 31px;
	border-bottom: 1px solid #A6A6A6;
	background: url("images/gray-bg.gif") repeat-x scroll center bottom #DBDBDB;

	.container {
		padding-top: 20px;
		/*background-color: red;*/

		.row {
			padding-left: 5px;
			padding-right: 5px;

			h5 {
				font-family: "Spinnaker";
			}

			p {
				font-family: Arial,Helvetica,sans-serif;
				color: #757575;
				font-size: 11px;
			}

			h5:nth-child(2) {
				margin-top: -5px;
			}

			>div:first-child {
				>div {
					background: url("images/logo.png") no-repeat scroll left center rgba(0, 0, 0, 0);

					a {
						text-decoration: none;
					}
				}
			}

			>div:nth-child(2) {
				>div {
					background: url("images/church-icon.png") no-repeat scroll left center rgba(0, 0, 0, 0);
					padding: 2px 0 0 56px;
					float: right;		
				}
			}

			>div:last-child {
				padding-top: 2px;
				padding-bottom: 2px;

				>div {
					background: url("images/shadow-sep.png") no-repeat scroll left center rgba(0, 0, 0, 0);
					padding-left: 25px;
				}
			}
		}
	}
}
