@import "../default.less";


.olx-panel {	
	.panel-body {
		padding: 0;

		.list-group {
			margin-bottom: 0;

			.list-group-item {
				border-left: 0 none;
				border-right: 0 none;
				border-bottom: 0 none;
			}
			.list-group-item:first-child {
				border-top: 0 none;
			}
		}
	}
}

.olx-backTop:before {
	content: "\e113";
}

.olx-backTop {
	display: inline-block;
	font-family: "Glyphicons Halflings";
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	bottom: 50px;
	color: #3D4450;
	cursor: pointer;
	display: block;
	font-size: 30px;
	position: fixed;
	right: 40px;
	top: auto;
	z-index: 999;
	display: none;
}

.olx-nav-pills > li > a {
	padding: 8px 15px;
}

.olx-list-group-item {
	border: 0;
}

.olx-article {
	background-color: #FFFFFF;
	border-radius: 4px;
	box-shadow: 0 0 2px #C2C2C2;
	margin-bottom: 30px;
	min-height: 20px;
	padding: 19px;
	position: relative;

	.article-date {
		background-color: #D9534F;
		border-color: #D43F3A;
		border-radius: 100px;
		color: #FFFFFF;
		height: 70px;
		left: -20px;
		padding-top: 10px;
		position: absolute;
		top: -20px;
		width: 70px;

		.month {
			display: block;
			text-align: center;
		}

		.day {
			display: block;
			text-align: center;
			font-size: 30px;
			font-weight: bold;
			margin-top: -5px;
		}
	}

	.article-content {
		.content-title {
			padding: 10px 15px 0;

			>h3 {
				font-size: 22px;
				margin: 0 auto;
				text-align: center;

				>a {
					color: #555555;
					text-decoration: none;
				}

				>a: hover {  
					color: #D9534F;
					text-decoration: none;
					transition: all 0.25s ease-in-out 0s;
				}
			}
		}
	}
}

.olx-btn {
	background-color: #3D4450;
	border-color: #080808;
	color: #FFFFFF;
}

.olx-btn:hover, .olx-btn:focus, .olx-btn:active, .olx-btn.active {
	background-color: #D2322D;
	border-color: #AC2925;
	color: #FFFFFF;
	transition: all 0.25s ease-in-out 0s;
}

.badge {
	background-color: #CC0000;
}

.navbar-brand {
	font-weight: bold;
}

.alert-info {
	background-image: linear-gradient(to bottom, #F5F5F5 0px, #E8E8E8 100%);
	border-color: #DDDDDD;
	color: #CC0000;
}

@font-face {
	font-family: Spinnaker;
	font-style:  normal;
    font-weight: 400;
	src: url("../../fonts/Spinnaker-Regular.ttf");
}

body {
	font-family: "Microsoft Yahei",Helvetica,Arial,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Microsoft Yahei",Helvetica,Arial,sans-serif;
}

#header {
	margin-top: 70px;
}

#banner {
}

#footer {
	border-top: 1px solid #E5E5E5;
	margin-top: 20px;
    padding-bottom: 30px;
    padding-top: 10px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 5px rgba(0, 0, 0, 0.075);

    >div {
	    >div {
			p {
				margin-bottom: 0;

			    a {
			    	color: #CC0000;
			    	font-weight: bold;
			    }
			}

			p:last-child {
			    a {
			    	color: black;
			    }
			}
	    }

		>div:first-child {
			float: left;
		}

		>div:last-child {
			float: right;
		}
    }
}

@media screen and (max-width: 640px) {
	#footer {
	    >div {
			>div:last-child {
				float: left;
			}
	    }
	}
}

@media screen and (min-width: 768px) and (max-width: 1010px) {
	#banner_searchForm {
		display: none;
	}
}

