@import "../default.less";


.olx-panel {	
	.panel-body {
		padding: 0;

		.list-group {
			margin-bottom: 0;

			.list-group-item {
				border-left: 0 none;
				border-right: 0 none;
				border-bottom: 0 none;
			}
			.list-group-item:first-child {
				border-top: 0 none;
			}
		}
	}
}

.olx-backTop:before {
	content: "\e113";
}

.olx-backTop {
	display: inline-block;
	font-family: "Glyphicons Halflings";
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	bottom: 50px;
	color: #3D4450;
	cursor: pointer;
	display: block;
	font-size: 30px;
	position: fixed;
	right: 40px;
	top: auto;
	z-index: 999;
	display: none;
}

.olx-nav-pills > li > a {
	padding: 8px 15px;
}

.olx-list-group-item {
	border: 0;
}

.olx-article {
	margin-bottom: 20px;

	>.thumbnail {
		-moz-box-sizing: border-box;
		border: 5px solid #E3E3E3;
		border-radius: 3px;
		float: left;
		width: 100%;
		padding: 0;
		margin-bottom: 0;
		background: url("../../images/32x32/picture.png") repeat;

		img {
			max-width:100%;
			height:auto;
		}
	}
}

.badge {
	background-color: #CC0000;
}

.navbar-brand {
	font-weight: bold;
}

@font-face {
	font-family: Spinnaker;
	font-style:  normal;
    font-weight: 400;
	src: url("../../fonts/Spinnaker-Regular.ttf");
}

body {
	font-family: "Microsoft Yahei",Helvetica,Arial,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Microsoft Yahei",Helvetica,Arial,sans-serif;
}

#header {
	margin-top: 70px;
}

#banner {
}

footer {
	border-top: 1px solid #E5E5E5;
	margin-top: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 5px rgba(0, 0, 0, 0.075);

    >div {
	    >div {
			p {
				margin-bottom: 0;

			    a {
			    	color: #CC0000;
			    	font-weight: bold;
			    }
			}

			p:last-child {
			    a {
			    	color: black;
			    }
			}
	    }

		>div:first-child {
			float: left;
		}

		>div:last-child {
			float: right;
		}
    }
}

@media screen and (max-width: 640px) {
	footer {
	    >div {
			>div:last-child {
				float: left;
			}
	    }
	}
}

@media screen and (min-width: 768px) and (max-width: 1010px) {
	#banner_searchForm {
		display: none;
	}
}

