<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    <section name="RewriterConfig" type="URLRewriter.Config.RewriterConfigSerializerSectionHandler, URLRewriter" />
  </configSections>
  <RewriterConfig>
    <Rules>
      <!--RewriterRule>
        <LookFor>~/look/([0-9a-z]{32}).image</LookFor>
        <SendTo>~/Image.ashx?id=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/upload.do</LookFor>
        <SendTo>~/Json.ashx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/download/([0-9a-z]{32}).file</LookFor>
        <SendTo>~/Download.ashx?id=$1</SendTo>
      </RewriterRule-->
      <!-- -->
      <RewriterRule>
        <LookFor>~/default.html</LookFor>
        <SendTo>~/Html.ashx?_resName_=/portal/main/indexUI</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/article/([0-9a-z]{32}).html</LookFor>
        <SendTo>~/Html.ashx?_resName_=/portal/article/indexUI&amp;id=$1</SendTo>
      </RewriterRule>
      <!-- -->
      <RewriterRule>
        <LookFor>~/sysmanage/main/indexUI.html</LookFor>
        <SendTo>~/Html.ashx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/sysmanage/main/welcomeUI.html</LookFor>
        <SendTo>~/Html.ashx</SendTo>
      </RewriterRule>
      <!-- -->
      <RewriterRule>
        <LookFor>~/sysmanage/module/indexUI.html</LookFor>
        <SendTo>~/Html.ashx</SendTo>
      </RewriterRule>
      <!-- -->
      <RewriterRule>
        <LookFor>~/sysmanage/user/loginUI.html</LookFor>
        <SendTo>~/Html.ashx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/sysmanage/user/lookPhoto/([0-9a-z]{32}).image</LookFor>
        <SendTo>~/Image.ashx?_resName_=/sysmanage/user/lookPhoto&amp;id=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/sysmanage/user/lookMyPhoto.image</LookFor>
        <SendTo>~/Image.ashx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/sysmanage/user/uploadMyPhoto.do</LookFor>
        <SendTo>~/Json.ashx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/sysmanage/user/downloadMyPhoto.do</LookFor>
        <SendTo>~/Download.ashx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/sysmanage/user/login.do</LookFor>
        <SendTo>~/Json.ashx</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/sysmanage/user/logout.do</LookFor>
        <SendTo>~/Json.ashx</SendTo>
      </RewriterRule>
      <!-- -->
    </Rules>
  </RewriterConfig>
  <log4net debug="false">
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender" >
      <param name="File" value="d:\log4net.log" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>
    </appender>
    <appender name="HttpTraceAppender" type="log4net.Appender.ASPNetTraceAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>
    </appender>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="d:\Log.txt" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="10" />
      <param name="MaximumFileSize" value="5MB" />
      <param name="RollingStyle" value="Size" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>
    </appender>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="White" />
        <backColor value="Red, HighIntensity" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <!--filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="INFO" />
        <param name="LevelMax" value="ERROR" />
      </filter>
      <filter type="log4net.Filter.LevelMatchFilter">
        <param name="LevelToMatch" value="INFO" />
        <AcceptOnMatch value="false"></AcceptOnMatch>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" /-->
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="data source=.;initial catalog=SuperPower;integrated security=false;persist security info=True;User ID=sa;Password=123456" />
      <commandText value="INSERT INTO s_log (thread, lv, logger, msg, ex, addtime, userid, code, ip) VALUES (@thread, @lv, @logger, @msg, @ex, @addtime, @userid, @code, @ip)" />
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@lv" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@msg" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@ex" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
      <parameter>
        <parameterName value="@addtime" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@userid" />
        <dbType value="String" />
        <size value="32" />
        <layout type="Foreworld.Log.LogLayout,Foreworld.Log">
          <conversionPattern value="%property{UserId}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@code" />
        <dbType value="String" />
        <size value="32" />
        <layout type="Foreworld.Log.LogLayout,Foreworld.Log">
          <conversionPattern value="%property{Code}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@ip" />
        <dbType value="String" />
        <size value="32" />
        <layout type="Foreworld.Log.LogLayout,Foreworld.Log">
          <conversionPattern value="%property{IP}" />
        </layout>
      </parameter>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="AdoNetAppender" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="TraceAppender" />
    </root>
  </log4net>
  <appSettings>
    <add key="dbType" value="SQLSERVER2008"/>
    <add key="connectionString" value="Data Source=.;Initial Catalog=SuperPower;Persist Security Info=True;User ID=sa;Pwd=123456"/>
    <add key="timeout" value="10"/>
    <add key="timestamp" value="43200"/>
    <add key="restPower" value="/manage/*,/a/a/*"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <httpRuntime maxRequestLength="2097151" executionTimeout="3600"/>
    <pages enableViewState="false"></pages>
    <sessionState mode="InProc" timeout="60" cookieless="false"></sessionState>
    <!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <compilation debug="true">
    </compilation>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
        -->
    <authentication mode="Forms"/>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。
        -->
    <customErrors mode="Off" defaultRedirect="errPage.html">
      <error statusCode="403" redirect="403.html" />
      <error statusCode="404" redirect="404.html" />
    </customErrors>
    <httpHandlers>
      <add verb="*" path="*.do" type="URLRewriter.RewriterFactoryHandler, URLRewriter" />
      <!--clear/>
			<add verb="PUT" path="api/*" type="Foreworld.Rest.Put,Rest"/>
			<add verb="POST" path="api/*" type="Foreworld.Rest.Post,Rest"/>
			<add verb="GET" path="api/*" type="Foreworld.Rest.Get,Rest"/>
			<add verb="DELETE" path="api/*" type="Foreworld.Rest.Delete,Rest"/-->
    </httpHandlers>
    <httpModules>
      <remove name="WindowsAuthentication"/>
      <!--remove name="FormsAuthentication"/-->
      <remove name="PassportAuthentication"/>
      <remove name="RoleManager"/>
      <remove name="AnonymousIdentification"/>
      <add type="URLRewriter.ModuleRewriter, URLRewriter" name="ModuleRewriter" />
      <!--add name="SuperInterceptor" type="Foreworld.Rest.SuperInterceptor,Foreworld.Rest"/>
      <add name="SessionInterceptor" type="Foreworld.Rest.SessionInterceptor,Foreworld.Rest"/>
      <!add name="FormQueryInterceptor" type="Foreworld.Rest.FormQueryInterceptor,Foreworld.Rest"/>
      <add name="FormParamsInterceptor" type="Foreworld.Rest.FormParamsInterceptor,Foreworld.Rest"/>
      <!add name="SignatureInterceptor" type="Foreworld.Rest.SignatureInterceptor,Foreworld.Rest"/>
      <add name="SessionParamsInterceptor" type="Foreworld.Rest.SessionParamsInterceptor,Foreworld.Rest"/>
      <add name="ResultInterceptor" type="Foreworld.Rest.ResultInterceptor,Foreworld.Rest"/>
      <add name="LoginInterceptor" type="Foreworld.Rest.LoginInterceptor,Foreworld.Rest"/-->
    </httpModules>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4294967295" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <httpErrors errorMode="Custom">
      <error statusCode="404" subStatusCode="0" path="404.html"/>
      <error statusCode="404" subStatusCode="1" path="404.html"/>
      <error statusCode="404" subStatusCode="2" path="404.html"/>
      <error statusCode="404" subStatusCode="3" path="404.html"/>
    </httpErrors>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.html" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
